# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
/build/
/dist/
*.spec

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Cookies & sensitive files
*cookie*
*cookies*.txt
cookies.txt
*.cookie

# App Logs / Settings / Dynamic files
app_logs.txt
failed_downloads.txt
downloaded_archive.txt
stem_vid_map.json
playlist_order.txt
downloads/

# OS / Temporary
desktop.ini
*.ico
*.tmp
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Scratch & temp test folders
scratch/
bin/
